<h1>YOOOO <%= @student.firstname + ' ' + @student.lastname%></h1>

<p>Major: <%= @student.major %></p>
<p>Year: <%= @student.year %></p>
<p>LinkedIn: <%= @student.linkedin %></p>
<p>Facebook: <%= @student.facebook %></p>

<p><%= students_profile_path(@student) %></p>